body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(../img/elbueno.svg);
}

header {
  background: #ff0000;
  color: white;
  -webkit-box-shadow: 2px 2px 2px 2px #ff0000;
          box-shadow: 2px 2px 2px 2px #ff0000;
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header i {
  font-size: 40px;
  margin-left: 50px;
}

header h1 {
  margin-left: 60px;
}

header a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}

header ul {
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  margin-left: 70px;
}

.portada {
  width: 70%;
  margin-left: auto;
  position: relative;
}

.portada .arepa {
  width: 100%;
  height: 100%;
}

.portada h1 {
  position: absolute;
  text-align: center;
  font-size: 60px;
  margin-left: 400px;
  color: white;
  z-index: 100;
}

.line {
  height: 2px;
  background: white;
}

.button {
  position: relative;
  z-index: 100000;
}

button {
  position: absolute;
  margin-top: 30%;
  margin-left: 68%;
  padding: 1rem 3rem;
  z-index: 1000;
  background-color: white;
  border: none;
  border-radius: 30px;
}

a {
  color: red;
  font-size: 20px;
  padding: 2rem 4rem;
  text-decoration: none;
}

.ciudades {
  border-radius: 30px;
  margin-left: 3%;
  margin-top: 5%;
  z-index: -10;
}

.ciudades img {
  position: absolute;
  width: 500px;
}

.edificios {
  margin-top: 15%;
  z-index: 50;
  margin-left: 60%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edificios h2 {
  position: absolute;
  color: white;
  font-size: 40px;
}

.edificios img {
  width: 500px;
  border-radius: 30px;
}

@media screen and (max-width: 1200px) {
  .edificios {
    margin-top: 95%;
    width: 50%;
    margin-left: 30%;
  }
  .edificios img {
    width: 100%;
  }
  .edificios h2 {
    font-size: 15px;
  }
  button {
    margin-top: 120%;
    padding: 0.5rem;
    margin-left: 38%;
  }
  a {
    font-size: 20px;
    padding: 30px;
  }
  .portada h1 {
    z-index: 1000;
    font-size: 50px;
    margin-left: 0;
    margin-right: 30%;
  }
  .portada .arepa {
    margin-left: -50%;
    width: 200%;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body, html {
    overflow: hidden;
  }
  header {
    width: 100%;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header h1 {
    margin-left: 0px;
    font-size: 20px;
  }
  header .logo {
    width: 30%;
    margin-left: 40%;
  }
}
/*# sourceMappingURL=style.css.map */