body {
  margin: 0;
  padding: 0;
    background-image: url(../img/elbueno.svg);
}

header {
  background: #ff0000;
  color: #ffffff;
  i {
    color: #ffffff;
    font-size: 40px;
    margin-left: 50px;
  }
  a {
    margin-left: 60px;
    text-decoration: none;
    color:white;
    font-size: 30px;
  }
 
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    margin-right: 60px;
    display: flex;
    list-style: none;
    align-items: center;
    li {
      color: #ff0000;
      margin-left: 70px;
    }
  }
}
.line {
  height: 2px;
  background: #ff0000;
}

.d {
  position: relative;
  grid-column: 0 1;
  grid-row: 0 1;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  border: 1px solid white;
}
.bed,
.bath,
.location,
.meters,
.price {
  flex: 1;
  display: flex;
  align-items: center;

  height: 40px;
}
.bed{
  margin-left: 10px;
}
.price,
.location,
.bed,
.bath {
  border-radius: 0px;
}

i,
h6 {
  color: white;
  font-size: 10px;
  margin-left: 5px;
}
i {
  margin-left: 5px;
  color:white;
}
.price,
.meters,
.location {
  flex: 1.5;
}
.bed-info,
.bath-info,
.location-info,
.meters-info,
.price-info {
  width: 100%;
}
.info {
  margin-top: 76.5%;
  background: #ff0000;
  border-radius: 0 0 30px 30px;
  display: flex;
  height: 30px;
  width: 800%;
  align-items: center;
}
section {
  margin-top: 50px;
}
.container {
  margin-bottom: 100px;
  margin-top: 100px;
  width: 92.5%;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  grid-gap: 150px;
  height: 100%;
}

.filters {
  display: flex;
  flex-direction: column;
  color: white;
  margin: auto;
  margin-top: 50px;
  height: 12vw;
  width: 55%;
  display: flex;
  justify-content: space-around;
  background-color: #FF0000;
  align-items: center;
  border-radius: 30px;
  border: 1px solid white;
}
.filters-xd {
  display: flex;
  width: 80%;
  height: 100%;
}
.rent-buy,
.city,
.dimentions {
  height: 50px;
  width: 200px;
  background: #FF0000;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  select {
    width: 100px;
    -webkit-appearance: none;
    border: 2px solid #ffffff;
    margin-top: 50px;
    position: absolute;
    border-radius: 30px;
    option {
      margin-top: 20px;
    }
  }
  i {
    pointer-events: none;
    margin-bottom: 15px;
    margin-left: 40%;
    z-index: 100;
    color: rgb(0, 0, 0);
  }
}
.arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 95%;
  margin-left: 2.5%;
  .fa-angle-left,
  .fa-angle-right {
    color: white;
    margin-left: 0px;
    font-size: 45px;
  }
  .arrow-container {
    border-radius: 50%;
    width: 45px;
    background-color: rgba(0, 0, 0, 0.431);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    :hover {
      border-radius: 50%;
      width: 70px;
      background-color: rgb(0, 0, 0);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width:1200px) {
  section{
    margin-left: -2.5%;
    width: 90%;
    margin-top: 80px;
  }
  .container{
    grid-template-columns: repeat(1, 380px);
    grid-template-rows: auto;
    grid-gap:20px;
  }
  .filters{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    height: 200px;
    .filters-xd{
      width: 100%;
      height: 100%;
    }
  }
  header{
    a{
      color:white;
      margin-left: 30%;
    }
  }
}